footer {
  /* background-color: #f3f0f0; */
  background: rgba(228, 232, 231, 1);
}
.foot {
  display: flex;
  background-color: rgba(228, 232, 231, 1);
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-block: 50px;
}
.foot-text {
  width: 40%;
}
.foot-text p:first-child {
  color: rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 12px;
}
.foot-text h1 {
  font-size: 52px;
}
.skin {
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}
.foot img {
  width: 35%;
}
.foot button {
  padding: 10px 58px;
  border-radius: 8px;
  background-color: #4f705b;
  color: #fff;
  border: 1px solid #4f705b;
  cursor: pointer;
}
.foot button:hover {
  border: 1px solid #111;
  box-shadow: 0px 4px 4px 0px grey;
}
@media screen and (max-width: 990px) {
  .main {
    padding-left: 5%;
    padding-block: 20px;
  }
  .main-text h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 770px) {
  .main-text h1 {
    font-size: 28px;
  }
  .skin {
    font-size: 12px;
    line-height: 25px;
  }
}
@media screen and (max-width: 550px) {
  .foot {
    flex-direction: column;
    gap: 30px;
    padding: 10px;
  }
  .foot-text {
    width: 100%;
    text-align: center;
  }
  .foot-text h1 {
    padding-block: 10px;
    font-size: 24px;
  }
  .foot img {
    width: calc(100% - 10px);
    border-radius: 20px;
    box-shadow: 0px 0px 4px 0px gray;
  }
}
.foot-bot {
  text-align: center;
  padding-block: 30px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}
