*{
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'Satoshi';
  src: url(../public/FontshareKit-2402000475/Satoshi/Fonts/OTF/Satoshi-Black.otf);
  src: url(../public/FontshareKit-2402000475/Satoshi/Fonts/OTF/Satoshi-Bold.otf);
  src: url(../public/FontshareKit-2402000475/Satoshi/Fonts/OTF/Satoshi-Medium.otf);
  src: url(../public/FontshareKit-2402000475/Satoshi/Fonts/OTF/Satoshi-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'Satoshi', sans-serif;
}